<div class="flex-container">
  <div class="flex-item no-grow">
    <div>
      <button style="margin: 0px 0px 2px 0px; font-size: smaller" (click)="createGameTable()">새로운 테이블 작성</button>
    </div>
    <select #select style="width: 100%; max-width: 155px" size="19" (change)="selectGameTable(select.value)" [ngModel]="selectedTable?.identifier">
      <option *ngFor="let gameTable of getGameTables()" value="{{gameTable.identifier}}" title="{{gameTable.name}}" [style.color]="gameTable.name == '' ? 'gray' : ''">{{gameTable.name == '' ? '(이름 없는 테이블)' : gameTable.name}}</option>
    </select>
  </div>
  <div class="flex-item">
    <div style="float: right; margin-top: 3px; margin-right: 3px">
      <label sytle="white-space: nowrap">
        <input name="show-hide-images" type="checkbox" value="Show Hides" checked="{{isShowHideImages ? 'checked' : ''}}" (click)="onShowHiddenImages($event)">
        <i class="material-icons" style="font-size: smaller" [ngClass]="{'red-eye': isShowHideImages}">{{ isShowHideImages ? 'visibility' : 'visibility_off' }}</i>
      </label>
    </div>
    <ng-container *ngIf="!isEmpty || selectedTable">
      <div class="images-select">
        <div>
          <b>이미지</b>
          <span (click)="openBgImageModal()" style="display: block; position: relative; overflow: hidden" [style.cursor]="(!isEditable || tableGridType == -1) ? 'default' : 'pointer'">
            <span *ngIf="getHidden(tableBackgroundImage)" style="display: block; position: absolute; text-align: right; top: 0px; right: 0px; pointer-events: none; z-index: 5">
              <i class="material-icons" [class]="isShowHideImages ? 'red-eye': 'grow'" style="margin-right: 2px; font-size: 16px; display: block">{{ isShowHideImages ? 'visibility' : 'visibility_off' }}</i>
            </span>
            <img height="120" [ngClass]="{ blackout: !isShowHideImages && getHidden(tableBackgroundImage) }" [src]="tableBackgroundImage.url | safe: 'resourceUrl'" draggable="false">
          </span>
        </div>
      </div>
      <div class="images-select">
        <div>
          <b>배경1(전면)</b>
          <div *ngIf="!tableDistanceviewImage.url">
            <button (click)="openDistanceViewImageModal()" style="height: 120px; margin: 0px 1px 2px 0px" [disabled]="!isEditable">배경 이미지 1을 추가</button>
          </div>
          <span *ngIf="tableDistanceviewImage.url" style="display: block; position: relative; overflow: hidden" [style.cursor]="(!isEditable || tableGridType == -1) ? 'default' : 'pointer'" (click)="openDistanceViewImageModal()">
            <span *ngIf="getHidden(tableDistanceviewImage)" style="display: block; position: absolute; text-align: right; top: 0px; right: 0px; pointer-events: none; z-index: 5">
              <i class="material-icons" [class]="isShowHideImages ? 'red-eye': 'grow'" style="margin-right: 2px; font-size: 16px; display: block">{{ isShowHideImages ? 'visibility' : 'visibility_off' }}</i>
            </span>
            <img height="120" [ngClass]="{ blackout: !isShowHideImages && getHidden(tableDistanceviewImage) }" [src]="tableDistanceviewImage.url | safe: 'resourceUrl'" draggable="false">
          </span>
        </div>
        <div>
          <b>배경2(후면)</b>
          <div *ngIf="!tableDistanceviewImage2.url">
            <button (click)="openDistanceViewImageModal2()" style="height: 120px; margin: 0px 0px 2px 0px" [disabled]="!isEditable">배경 이미지 2를 추가</button>
          </div>
          <span *ngIf="tableDistanceviewImage2.url" style="display: block; position: relative; overflow: hidden" [style.cursor]="(!isEditable || tableGridType == -1) ? 'default' : 'pointer'" (click)="openDistanceViewImageModal2()">
            <span *ngIf="getHidden(tableDistanceviewImage2)" style="display: block; position: absolute; text-align: right; top: 0px; right: 0px; pointer-events: none; z-index: 5">
              <i class="material-icons" [class]="isShowHideImages ? 'red-eye': 'grow'" style="margin-right: 2px; font-size: 16px; display: block">{{ isShowHideImages ? 'visibility' : 'visibility_off' }}</i>
            </span>
            <img height="120" [ngClass]="{ blackout: !isShowHideImages && getHidden(tableDistanceviewImage2) }" [src]="tableDistanceviewImage2.url | safe: 'resourceUrl'" draggable="false">
          </span>
        </div>
      </div>
      <div>
        <div style="display: inline" class="self-setting">Name：<input [(ngModel)]="tableName" placeholder="Name" [disabled]="!isEditable" /></div>
      </div>
      <div style="display: table; width: 90%">
        <div style="display: table-row">
          <div style="display: table-cell; width: 4em">
            <div style="display: inline" class="self-setting">Width：</div>
          </div>
          <div style="display: table-cell">
            <input [(ngModel)]="tableWidth" type="range" style="width: calc(100% - 4px)" title="{{tableWidth}}" min="{{minSize}}" max="{{maxSize}}" name="tableWidth" [disabled]="!isEditable" />
          </div>
          <div style="display: table-cell; width: 5em">
            <input [(ngModel)]="tableWidth" type="number" min="{{minSize}}" max="{{maxSize}}" style="width: 5em;" [disabled]="!isEditable">
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell; width: 4em">
            <div style="display: inline" class="self-setting">Height：</div>
          </div>
          <div style="display: table-cell">
            <input [(ngModel)]="tableHeight" type="range" style="width: calc(100% - 4px)" title="{{tableHeight}}" min="{{minSize}}" max="{{maxSize}}" name="tableHeight" [disabled]="!isEditable"/>
          </div>
          <div style="display: table-cell; width: 5em">
            <input [(ngModel)]="tableHeight" type="number" min="{{minSize}}" max="{{maxSize}}" style="width: 5em;" [disabled]="!isEditable">
          </div>
        </div>
      </div>
      <div>
        <div style="display: inline" class="self-setting">그리드：
          <select [(ngModel)]="tableGridType" name="tableGridType" [disabled]="!isEditable">
            <option value="-1">없음</option>
            <option value="0">스퀘어</option>
            <option value="1">헥스(세로정렬)</option>
            <option value="2">헥스(가로정렬)</option>
          </select>
        </div>
        <div style="display: inline; margin-left: 1.2em" class="self-setting">색：
          <select [(ngModel)]="tableGridColor" name="tableGridColor" [disabled]="!isEditable || tableGridType == -1">
            <option value="#000000e6">검정</option>
            <option value="#0000dde6">파랑</option>
            <option value="#00dd00e6">녹색</option>
            <option value="#00dddde6">하늘</option>
            <option value="#dd0000e6">빨강</option>
            <option value="#dd00dde6">보라</option>
            <option value="#dddd00e6">노랑</option>
            <option value="#dddddde6">하양</option>
          </select>
        </div>
      </div>
      <div>
        <label class="self-setting">
          <input type="checkbox" [(ngModel)]="tableGridNumberShow" name="tableGridNumberShow" [disabled]="!isEditable || tableGridType == -1" />
          <span [ngClass]="{disabled: !isEditable || tableGridType == -1}" [style.cursor]="(!isEditable || tableGridType == -1) ? 'default' : 'pointer'">그리드의 좌표 숫자 표시</span>
        </label>
      </div>
      <div>
        <div style="display: inline" class="self-setting">배경 필터：
          <select [(ngModel)]="tableDistanceviewFilter" name="tableDistanceviewFilter" [disabled]="!isEditable">
            <option value="">없음</option>
            <option value="white">화이트</option>
            <option value="black">블랙</option>
          </select>
        </div>
      </div>
      <hr/>
      <div>
        <label class="self-setting">
          <input type="checkbox" [(ngModel)]="tableGridShow" name="tableGridShow" />
          그리드를 항상 표시<sup class="self-only">*</sup>
        </label>
        <label style="margin-left: 1em" class="self-setting">
          <input type="checkbox" [(ngModel)]="tableGridSnap" name="tableGridSnap" />
          스냅<sup class="self-only">*</sup>
        </label>
        <ng-container *ngIf="!isDeleted">
          <button style="margin-left: 2em" [disabled]="isSaveing" (click)="save()">
            <div style="position: relative;">
              <div [ngClass]="{'is-hidden': isSaveing}">저장</div>
              <div *ngIf="isSaveing" class="progress">{{progresPercent}}%</div>
            </div>
          </button>
          <button class="danger" (click)="delete()" [disabled]="getGameTables().length <= 1">삭제</button>
        </ng-container>
        <ng-container *ngIf="isDeleted">
          <button (click)="restore()">원래대로 되돌린다</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="isEmpty">
  <div style="font-size: 12px;">※테이블이 존재하지 않습니다.「새로운 테이블을 작성」을 눌러 새 테이블을 작성할 수 있습니다.</div>
</ng-container>
