<div>
  <div *ngIf="isValid" class="url">{{urlObj.protocol}}//<span [ngClass]="{'outer': isOuter}">{{urlObj.host}}</span>{{urlObj.pathname}}<span class="opt">{{urlObj.search}}{{urlObj.hash}}</span></div>
  <div *ngIf="!isValid" class="url">{{url}}</div>
  <hr />
  <div class="help">
    <div *ngIf="isValid">이 URL을 엽니까?（다른 창에서 열립니다. 팝업을 허가해주세요）</div>
    <div *ngIf="!isValid">⚠️URL이 정확하지 않습니다</div>
  </div>
</div>
<button type="submit" (click)="openUrl()" [disabled]="!isValid">열기</button>
<button type="button" (click)="cancel()">취소</button>
