<div>
  <button (click)="close(true)">섞고 창을 닫는다</button>
  <hr/>
  <div *ngFor="let card of cardStack.cards; trackBy: trackByCard" class="box">
    <card-list-image [card]="card"></card-list-image>
    <div style="display: inline-block; margin-left: 2px">
      <button type="submit" (click)="drawCard(card)">카드 더미로부터 꺼낸다.</button>
      <button (click)="showDetail(card)"><i class="material-icons" style="font-size: 1.1em; vertical-align: text-bottom;">settings</i> 편집</button>
      <br>
      <button (click)="up(card)">↑</button>
      <button (click)="down(card)">↓</button>
      <button (click)="card.rotate = (card.rotate == 180 ? 0 : 180)" style="margin-left: 5px">회전한다</button>
      <button (click)="card.state = (card.state == CardStateFront ? CardStateBack : CardStateFront)">뒤집는다</button>
      <br>
    </div>
  </div>
</div>
