<div>
  <button (click)="close(true)">섞고 창을 닫는다</button>
  <hr/>
  <div *ngFor="let card of cardStack.cards; trackBy: trackByCard" class="box">
    <card-list-image [card]="card"></card-list-image>
    <div style="display: inline-block;">
      <button type="submit" (click)="drawCard(card)">카드 더미로부터 꺼낸다</button>
      <button (click)="showDetail(card)"><i class="material-icons" style="font-size: 1.1em; vertical-align: text-bottom;">settings</i>편집</button>
      <br>
      <button (click)="up(card)">↑</button>
      <button (click)="down(card)">↓</button>
      <br>
    </div>
  </div>
</div>
